<h1 class="text-center">Subject Registration</h1>
<div class="container-fluid">
        <div class="row form-group">
                <div class="col-sm-5 text-right">
                   <label>ID:</label> 
                </div>
                <div class="col-sm-1">
                    <input class="form-control" ng-model="data.id" />
                </div>
            </div>
<div class="row form-group">
    <div class="col-sm-5 text-right">
       <label>Subject Name:</label> 
    </div>
    <div class="col-sm-3">
        <input class="form-control" ng-model="data.subname" />
    </div>
</div>
<div class="row form-group">
        <div class="col-sm-5 text-right">
           <label>School:</label> 
        </div>
        <div class="col-sm-3">
            <input class="form-control" ng-model="data.school" />
        </div>
</div>
<div class="row form-group">
            <div class="col-sm-offset-5 col-sm-7">
                <input type="button" value="Register" class="btn btn-primary" ng-click="fnReg()" />
            </div>  
    </div>
    <div class="row form-group">
            <div class="col-sm-12 text-center">
                  <b class="text-danger">{{msg}}</b>
            </div>  
    </div>
    </div>